@model IEnumerable<EventApp.Models.Tblpastwork>

@{
    ViewBag.Title = "Pastwork";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="card col-md-12 col-sm-12 col-lg-12" style="margin:0px;padding:0px;">
    <div class="row col-md-12 col-sm-12 col-lg-12" style="margin:0px;padding:0px;">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-sm-12 col-lg-6" style="padding:0px;margin:0px;border-right:1px solid grey;">
                <div class="row col-md-12 col-lg-12" style="margin:0px;padding:0px;">
                    <div class="col-md-2 col-lg-2" style="margin:10px;padding:10px;">
                        <center><img src="~/Content/Shared/Eventer_Image/@item.Tbleventmanager.Tbluser.Profilepic" style="border-radius:50%;height:60px;width:60px;" /></center>
                    </div>
                    <div class="col-md-9 col-lg-9" style="margin-top:10px;padding:10px;">
                        <div class="row col-md-12 col-lg-12" style="padding:0px;margin:0px;">
                            <p class="col-md-4">@item.Tbleventmanager.Name</p>
                            <p class="col-md-8">@item.Createddate.Day @item.Createddate.ToString("MMMM") @item.Createddate.Year</p>
                            <p class="col-md-12">@item.Tbleventmanager.Companyname</p>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 col-lg-12" style="padding:0px;margin:0px;">
                    <p class="col-md-6">@item.Tblsubcategory.Subcategoryname</p>
                    <p class="col-md-4">@item.Tblsubcategory.Tblcategory.Categoryname</p>
                    <a class="col-md-2">@item.Tblpastworklikes.Count<i class="fa fa-heart"></i></a>
                    <p class="col-md-12">@item.Description</p>
                </div>
                <div class="row col-md-12 col-lg-12" style="padding:5px;margin:5px;">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        @Html.ActionLink("More Details", "Details", new { id = item.Pastworkid })
                    </div>
                </div>
            </div>
        }
    </div>
</div>