@model EventApp.Models.Tbleventmanager

@{
    ViewBag.Title = "Eventmanager More Info";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h4>Eventmanager Details</h4>
    <hr />
    <div class="card col-md-12 col-sm-12 col-lg-12">
        <div class="col-md-12"> Name:  @Html.DisplayFor(model => model.Name)</div>
        <div class="col-md-12"> Company Name:  @Html.DisplayFor(model => model.Companyname)</div>
        <div class="col-md-12"> Website:  @Html.DisplayFor(model => model.Website)</div>
        <div class="col-md-12"> About:  @Html.DisplayFor(model => model.About)</div>
        <div class="col-md-12"> Coverpic:  @Html.DisplayFor(model => model.Coverpic)</div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Eventmanagerid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<h4>Pastworks</h4>
<hr />
@foreach (EventApp.Models.Tblpastwork i in Model.Tblpastworks)
{
    <div class="card" style="margin:10px;padding:10px;">
        <div class="row col-md-12">

            <div class="col-md-12">Description: @i.Description</div>
            <div class="col-md-12">Subcategory: @i.Tblsubcategory.Subcategoryname</div>
            <div class="col-md-12">Createddate: @i.Createddate</div>

        </div>
    </div>
}