@model IEnumerable<EventApp.Models.Tbleventmanager>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tbluser.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbluser.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coverpic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tbluser.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Tbluser.Status == 0)
                {
                    <a href=""><i class="fa fa-lock-open"></i></a>
                }
                else
                {
                    <a href=""><i class="ion ion-locked"></i></a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coverpic)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Eventmanagerid }) |
            </td>
        </tr>
        }
    </tbody>
</table>
