@model IEnumerable<EventApp.Models.Tblclient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tbluser.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbluser.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateofbirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="cs-@item.Clientid">
                <td>
                    @Html.DisplayFor(modelItem => item.Tbluser.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @if(item.Gender==0)
                    {
                        <p>Male</p>
                    }
                    else
                    {
                        <p>Female</p>
                    }

                </td>
                <td id="cs-@item.Clientid">
                    @if (item.Tbluser.Status == 0)
                    {
                        <a href="#" class="status" data-id="@item.Clientid" ><i class="fa fa-lock-open" ></i></a>
                    }
                    else
                    {
                        <a href="#" class="status" data-id="@item.Clientid"><i class="ion ion-locked" ></i></a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dateofbirth, "DD-MM-YY")
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Clientid }) |
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(".status").click(function () {
        id = $(this).attr("data-id");
        $.ajax({
            url: "@Url.Action("ChangeStatus", "AdmClient", null)?cid="+id,
            success: function (result) {
                $("cs-"+id).html(result);
            }
        });
    });
</script>
