@model IEnumerable<EventApp.Models.Tblusertender>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <div class="row justify-content-center">

        <!-- event-grid-item - start -->
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="event-grid-item">
                <!-- event-image - start -->
                <div class="event-image">
                    <div class="post-date">
                        <span class="date">26</span>
                        <small class="month">june</small>
                    </div>
                    <img src="~/Content/User/assets/images/event/1.event-grid.jpg" alt="Image_not_found">
                </div>
                <!-- event-image - end -->
                <!-- event-content - start -->
                <div class="event-content">
                    <div class="event-title mb-30">
                        <h3 class="title">
                            Barcelona Food Truck Festival 2018-2019
                        </h3>
                        <span class="ticket-price yellow-color">Tickets from $52</span>
                    </div>
                    <div class="event-post-meta ul-li-block mb-30">
                        <ul>
                            <li>
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                                Start 20:00pm - 22:00pm
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                Manhattan, New York
                            </li>
                        </ul>
                    </div>
                    <a href="#!" class="tickets-details-btn">
                        tickets &amp; details
                    </a>
                </div>
                <!-- event-content - end -->
            </div>
        </div>
        <!-- event-grid-item - end -->

    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tblcity.Cityname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tblclient.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tblsubcategory.Subcategoryname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Startingdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endingdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tblcity.Cityname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tblclient.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tblsubcategory.Subcategoryname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Startingdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endingdate)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Usertenderid }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Usertenderid }) 
        </td>
    </tr>
}

</table>
