@model EventApp.Models.Tblmanagertender

@{
    ViewBag.Title = "Managertender More Info";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h4>Managertender Details</h4>
    <hr />
    <div class="card col-md-12 col-sm-12 col-lg-12">
        <div class="col-md-12"> Name:  @Html.DisplayFor(model => model.Tbleventmanager.Name)</div>
        <div class="col-md-12"> Subcategory:  @Html.DisplayFor(model => model.Tblsubcategory.Subcategoryname)</div>
        <div class="col-md-12"> Description:  @Html.DisplayFor(model => model.Description)</div>
        <div class="col-md-12"> Price:  @Html.DisplayFor(model => model.Price)</div>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Managertenderid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<h4>Tender bids</h4>
<hr />
@foreach (EventApp.Models.Tblmanagertenderbid i in Model.Tblmanagertenderbids)
{
    <div class="card" style="margin:10px;padding:10px;">
        <div class="row col-md-12">

            <div class="col-md-12">Description: @i.Description</div>
            <div class="col-md-12">Eventmanager: @i.Tbleventmanager.Name</div>
            <div class="col-md-12">Price: @i.Price</div>
            <div class="col-md-12">Createddate: @i.Createddate</div>

        </div>
    </div>
}