@model IEnumerable<EventApp.Models.Tblusertender>

@{
    ViewBag.Title = "MyEvents";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section id="event-section" class="event-section bg-gray-light clearfix">
    <div class="row justify-content-center container">
        <div id="list-style" class="tab-pane fade in active show row container">
            <!-- event-grid-item - start -->
            @foreach (var item in Model)
            {
                <div class="event-list-item clearfix col-md-6">

                    <!-- event-image - start -->
                    <div class="event-image">
                        <div class="post-date">
                            <span class="date">@item.Endingdate.Day</span>
                            <small class="month">@item.Endingdate.ToString("MMMM")</small>
                        </div>
                        <img src='~/Content/Shared/Client_Image/@item.Tblclient.Tbluser.Profilepic' alt="Image_not_found">
                    </div>
                    <!-- event-image - end -->
                    <!-- event-content - start -->
                    <div class="event-content">
                        <div class="event-title mb-15">
                            <h3 class="title">
                                @item.Tblclient.Tbluser.Username <strong>&nbsp;</strong>
                            </h3>
                            <span class="ticket-price yellow-color">@item.Tblsubcategory.Subcategoryname  @item.Tblsubcategory.Tblcategory.Categoryname</span>
                            <br />
                            <span class="ticket-price yellow-color">At @item.Tblcity.Cityname , @item.Tblcity.Tblstate.Statename</span>
                        </div>
                        <p class="discription-text mb-30">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <div class="event-info-list ul-li clearfix">
                            <ul>
                                <li>
                                    @*<span class="icon">
                                            <i class="fas fa-microphone"></i>
                                        </span>
                                        <div class="info-content">
                                            <small>&nbsp;</small>
                                            <h3>&nbsp;</h3>
                                        </div>*@
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fas fa-ticket-alt"></i>
                                    </span>
                                    <div class="info-content">
                                        <small>Package Amount</small>
                                        <h3>@item.Price</h3>
                                    </div>
                                </li>
                                @if (Session["cid"] != null)
                                {
                                    <li>
                                        <a href="@Url.Action("MyEventsDetails","UrClientProfile",null)?id=@item.Usertenderid" class="tickets-details-btn">More Details</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- event-content - end -->
                </div>
            
            }
        </div>
        <!-- event-grid-item - end -->
    </div>
</section>
