@model IEnumerable<EventApp.Models.Tbleventmanager>

@{
    ViewBag.Title = "Eventmanager";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section id="event-section" class="event-section bg-gray-light clearfix" style="padding:30px;margin:20px;">
    <div class="row justify-content-center col-md-12">
        <div id="grid-style" class="tab-pane fade in active show col-md-12">
            <div class="row justify-content-center">
                @foreach (var item in Model)
                {
                    <!-- event-grid-item - start -->
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="event-grid-item" style="padding:0px;margin:0px;">
                            <!-- event-image - start -->
                            <div class="event-image col-md-12">
                                @*<div class="post-date">
                                        <span class="date">10</span>
                                        <small class="month">june</small>
                                    </div>*@
                                @*<img src="@item.Coverpic" />*@
                                <img src="~/Content/Shared/Eventer_Image/@item.Coverpic" alt="Image_not_found" style="width:354.66px;height:235px;" class="col-md-12">
                            </div>
                            <!-- event-image - end -->
                            <!-- event-content - start -->
                            <div class="event-content">
                                <div class="event-title mb-30">
                                    <h3 class="title col-md-12">
                                        @item.Name
                                    </h3>
                                    <span class="ticket-price yellow-color"> </span>
                                </div>
                                <div class="event-post-meta ul-li-block mb-30 col-md-12">
                                    <ul>
                                        <li class="col-md-12">
                                            <span class="icon">
                                                <i class="far fa-calendar"></i>
                                            </span>
                                            @item.Tbluser.Registrationdate.Day @item.Tbluser.Registrationdate.ToString("MMMM") @item.Tbluser.Registrationdate.Year
                                        </li>
                                        <li class="col-md-12">
                                            <span class="icon">
                                                <i class="fa fa-building"></i>
                                            </span>
                                            @item.Companyname
                                        </li>
                                        <li class="col-md-12">
                                            <span class="icon">
                                                <i class="fa fa-info-circle"></i>
                                            </span>
                                            @item.About
                                        </li>
                                        <li class="col-md-12">
                                            <span class="icon">
                                                <i class="fa fa-globe"></i>
                                            </span>
                                            @item.Website
                                        </li>
                                        <li>
                                            @Html.ActionLink("Details", "Details", new { id = item.Eventmanagerid })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- event-content - end -->
                        </div>
                    </div>

                    <!-- event-grid-item - end -->
                }
            </div>

        </div>
    </div>
</section>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tbluser.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coverpic)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbluser.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Companyname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.About)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coverpic)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Eventmanagerid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Eventmanagerid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Eventmanagerid })
                </td>
            </tr>
        }

    </table>*@
