@model EventApp.Models.Tblusertender

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tblusertender</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tblcity.Cityname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tblcity.Cityname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tblclient.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tblclient.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tblsubcategory.Subcategoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tblsubcategory.Subcategoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Startingdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Startingdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endingdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endingdate)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        @foreach (EventApp.Models.Tblusertenderbid i in Model.Tblusertenderbids)
        {
            @i.Description.ToString()
            @i.Price.ToString()
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Usertenderid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
